language: node_js

cache:
  directories:
    - ~/.npm
    - node_modules

notifications:
  email:
    recipients:
      - romain.dary@gmail.com
    on_success: always
    on_failure: always

node_js:
  - '10'

git:
  depth: 3

script:
  - yarn build

deploy:
  provider: pages
  skip-cleanup: true
  keep-history: true
  github-token: $GITHUB_TOKEN
  local-dir: public
  target-branch: gh-pages
  on:
    branch: master
